.navbar-custom {
    background-color: #ff69b4; 
}

.navbar-custom .nav-link {
    color: #6c757d; /* Cinza */
}

.navbar-custom .nav-link.active {
    color: #ffffff; /* Branco para o item ativo */
}

.btn-custom {
    background-color: #6c757d; /* Cinza */
    color: white; /* Texto branco */
}

.btn-custom:hover {
    background-color: #5a6268; /* Cinza escuro ao passar o mouse */
}

.btn-deletar {
    background-color: #dc3545; /* Vermelho */
    color: white;
}
.btn-deletar:hover {
    background-color: #c82333; /* Vermelho escuro no hover */
    color: white;
}